<div class="mx-auto py-3" style="width: 600px;">
<h1>Gossip</h1>
</div>

<div class="mx-auto py-3" style="width: 600px;">
<table class="table">
  <tbody>
    <tr>
      <th scope="row">Gossip</th>
      <td><%= @gossip_card.title %></td>
    </tr>
    <tr>
      <th scope="row">Auteur</th>
      <td><%= link_to "#{@gossip_card.user.first_name}", user_path(@gossip_card.user.id) %></td>
    </tr>
    <tr>
      <th scope="row">Description</th>
      <td><%= @gossip_card.content %></td>
    </tr>
     <tr>
      <th scope="row">Date</th>
      <td><%= @gossip_card.date %> </li></td>
    </tr>
  </tbody>
</table>
</div>