<div class="mx-auto text-center">
	<div class="jumbotron">
	  <h1 class="display-4">The Gossip Project</h1>
	  <p class="lead">La curiosité est une qualité</p>
	  <button type="button" class="btn"><%= link_to "Commence par t'inscrire", new_user_path, class: "btn
			    btn-md btn-outline-primary" %></button>
	</div>
</div>