<div class="mx-auto mt-3 py-3" style="width: 600px;">
<h1>Profil Ville</h1>
</div>

<div class="mx-auto py-3" style="width: 600px;">
<table class="table">
  <tbody>
    <tr>
      <th scope="row">Nom</th>
      <td><%= @city.name %></td>
    </tr>
    <tr>
      <th scope="row">Users Gossips in this Town</th>
      <td><%=  %></td>
    <tr>
  </tbody>
</table>

</div>